body{ font: 12px/18px "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif; }

/***************************************
* Elements
****************************************/

/* Hyperlinks */
a{  }
/* a:link { } */
a:visited {  }
a:hover { }
a:active {  }

/* Headers */
h1, h2, h3, h4, h5, h6{ }
h1 { font-size: 24px; font-weight: bold; }
h2 { font-size: 18px; font-weight: bold; }
h3 { font-size: 16px; }
h4 { font-size: 14px; font-weight: bold; }
h5 { font-size: 13px; font-weight: bold; }
h6 {}

/* Text elements */
strong { font-weight: bold; }
em { font-style: italic; }
cite { font-style: italic; }
abbr { cursor: help; text-decoration: underline; }
acronym {}
sup { vertical-align: baseline;	position: relative;	bottom: 0.3em;}
sub { vertical-align: baseline;	position: relative;	top: 0.3em;}
address { font-style: italic; margin: 0 0 18px 0;}
ins, dfn{font-style: italic; text-decoration: none; border-bottom: 1px solid #666; }
ins {}
dfn {}
del {text-decoration: line-through;}
big {font-size: 120%;}
small, sup, sub{font-size: 80%;}
var{ font-family: monospace;}

/* Paragraphs */
p { }

/* Unordered lists */
ul { list-style: square outside none; padding-left: 14px; }
	ul li {}

/* Ordered lists */
ol { list-style-type: decimal; margin: 0 0 18px 30px; }
	ol ol{ list-style-type: upper-roman; }
		ol ol ol{ list-style-type: lower-roman; }
			ol ol ol ol{ list-style-type: upper-alpha; }
				ol ol ol ol ol{ list-style-type: lower-alpha; }
	ol li {}

ul ul, ol ol, ul ol, ol ul{ margin-bottom: 0; }

/* Defition lists */
dl { margin: 0 0 18px 3px;  }
	dt { font-weight: bold; margin: 12px 0 0 0; }
	dd {  margin: 6px 0 0 1.5em; }

/* Blockquotes */
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q{ quotes: "" ""; }
blockquote { background: #eee; border-left: 3px solid #bbb; padding: 9px 36px 1px 9px; margin: 9px 36px 18px 36px; }
	blockquote blockquote {}
	blockquote em { font-style: italic; }

/* Object */
object { margin-bottom: 18px; }

/* Horizontal Rule */
hr{ margin: 18px 0; background: #aaa; height: 1px; width: 100%; display: block;}

/* Code */
code { font: .9em Monaco, monospace, Courier, "Courier New";  }
pre { overflow: auto; font: .9em Monaco, monospace, Courier, "Courier New";	line-height: 18px; margin-bottom: 18px; padding: 9px; }
pre code { font-size: 1em; }

/* Tables */
table { background: #fff; border-collapse: collapse;  border-left: 2px solid #999; border-right: 2px solid #999; border-spacing: 0; margin: 0 0 18px 0; width: 100%; }
	caption { text-align: left; }
	tr {}
	tr.even{ background: #f5f5f5; }
	tr.odd{ }
	th { font-weight: bold; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 4px 2%; text-align: left; }
	td { padding: 4px 2%; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; }

/* Forms */
/* Forms */
form {}
	input, textarea, select{ font-family: CartoGothicRegular, Helvetica, Arial, sans-serif; }
	/* Style for unfocused fields */
	input[type="text"], input[type="email"], input.field, textarea, .placeholder{ box-shadow: none; border: none; padding: 4px 6px; color: #888; }
	/* Style for focused fields */
	input[type="text"]:focus, input[type="email"]:focus, input.field:focus, textarea:focus{ color: #555; }
	input[type="text"], input[type="email"], input.field{ width: 250px; }
	textarea{ width: 97%; }
	input[type="submit"], input[type="image"] { cursor: pointer; }
	label {}
	option {}
	:focus{ outline: none; }

/* Buttons */
.button, input[type="button"], div.button a{  }
.button-red{}
.button-blue{}

/* Notes */
.note {}

/* Warnings/Alerts */
.warning, .alert {}

/* Errors */
.error {}

/* Downloads */
.download {}

/* Alignment */
.left, .alignleft { float: left; margin: 9px 12px 9px 0; }
.right, .alignright { float: right; margin: 9px 0 9px 12px; }
.center, .aligncenter { display: block; margin: 9px auto 9px; }
.block, .alignnone { display: block; margin: 9px 0 9px; }
.clear { clear: both; }

/**
* Images
************************************************/

/* Normal images */
img {  }
a img {}

/* WP Smilies */
img.wp-smiley {}

/* Thumbnails */
.thumbnail {}

/* WP Captions [caption] */
.wp-caption {}
	.wp-caption img {}
	.wp-caption p {}

/* Gallery [gallery] */
.gallery {}
	.gallery img {}

/* Avatars */
.avatar {}

/***********************
	UTILITY CLASSES
************************/
.clear{clear: both;}
.padder{ padding: 20px; }
.content-wrap{  }
